## add ignore files 
*$py.class
*.pb
*.pyc
*.pkl
*.p
*.h5
*.pickle
*.csv
*.tsv
*.DS_Store
*.xlsx
*.xls
*.w2v
*.pdf
*.docx
*.png
*.txt
*.Rhistory

## add ignore folder 
*data/
*.ipynb_checkpoints/
*.__pycache__/
*checkpoints/
*model/
*documentation/
*project management/
*sample doc/